<!DOCTYPE html>
<html>
  <head>
    <title>Value</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/css/uikit.min.css" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit-icons.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit-icons.js" type="text/javascript"></script>
  </head>
  <body>
    <!-- navbar -->
    <nav class="uk-navbar-container" uk-navbar uk-sticky>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li>
            <a href="#">
              <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
            </a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><a href="#">新規登録</a></li>
                <li><a href="#">ログイン</a></li>
                <li><a href="#">出品する</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="uk-container">
      <!-- 何かお探しですか？ -->
      <form class="uk-form-stacked">
        <div class="uk-text-center">
          <div class="uk-form-controls uk-margin-top ">
            <input class="uk-input" id="form-stacked-text" type="text" placeholder="検索したいアイテムを入力してください。">
          </div>
          <button class="uk-button uk-button-default uk-margin-top">検索</button>
        </div>
      </form>
      </div>

      <!-- スライドショー -->
      <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
        uk-slideshow="min-height: 250; max-height: 500; animation: push; autoplay: true; autoplay-interval: 4000;"
        style="margin-top: 1.5em;">
        <ul class="uk-slideshow-items">
          <li>
            <%= image_tag('1.jpeg') %>
          </li>
          <li>
            <%= image_tag('1.jpeg') %>
          </li>
          <li>
            <%= image_tag('1.jpeg') %>
          </li>
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
          uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
          uk-slideshow-item="next"></a>
      </div>

      <!-- 商品情報 -->
      <div class="uk-container" style="margin-top: 3em;">
        <h2 class="uk-heading-bullet">最近出品されたアイテム</h2>

        <div class="uk-flex uk-flex-center" style="margin-top: 1.0em;">
          <div style="padding:0.1em; line-height: 1.0;">
            <%= image_tag 'sample_item.jpg', size: '100x200', class: "uk-img" %>
            <div>
              <span style="font-size: 12px;">ラムネ</span><br>
              <span style="font-size: 12px;">¥160</span>
            </div>
          </div>
          <div style="padding:0.1em; line-height: 1.0;">
            <%= image_tag 'sample_item.jpg', size: '100x200', class: "uk-img" %>
            <div>
              <span style="font-size: 12px;">ラムネ</span><br>
              <span style="font-size: 12px;">¥160</span>
            </div>
          </div>
          <div style="padding:0.1em; line-height: 1.0;">
            <%= image_tag 'sample_item.jpg', size: '100x200', class: "uk-img" %>
            <div>
              <span style="font-size: 12px;">ラムネ</span><br>
              <span style="font-size: 12px;">¥160</span>
            </div>
          </div>
        </div>
        <div class="uk-flex uk-flex-center" style="margin-top: 1.0em;">
          <div style="padding:0.1em; line-height: 1.0;">
            <%= image_tag 'sample_item.jpg', size: '100x200', class: "uk-img" %>
            <div>
              <span style="font-size: 12px;">ラムネ</span><br>
              <span style="font-size: 12px;">¥160</span>
            </div>
          </div>
          <div style="padding:0.1em; line-height: 1.0;">
            <%= image_tag 'sample_item.jpg', size: '100x200', class: "uk-img" %>
            <div>
              <span style="font-size: 12px;">ラムネ</span><br>
              <span style="font-size: 12px;">¥160</span>
            </div>
          </div>
          <div style="padding:0.1em; line-height: 1.0;">
            <%= image_tag 'sample_item.jpg', size: '100x200', class: "uk-img" %>
            <div>
              <span style="font-size: 12px;">ラムネ</span><br>
              <span style="font-size: 12px;">¥160</span>
            </div>
          </div>
        </div>
        <div class="uk-flex uk-flex-center" style="margin-top: 1.0em;">
          <div style="padding:0.1em; line-height: 1.0;">
            <%= image_tag 'sample_item.jpg', size: '100x200', class: "uk-img" %>
            <div>
              <span style="font-size: 12px;">ラムネ</span><br>
              <span style="font-size: 12px;">¥160</span>
            </div>
          </div>
          <div style="padding:0.1em; line-height: 1.0;">
            <%= image_tag 'sample_item.jpg', size: '100x200', class: "uk-img" %>
            <div>
              <span style="font-size: 12px;">ラムネ</span><br>
              <span style="font-size: 12px;">¥160</span>
            </div>
          </div>
          
        </div>
      </div>

      <!-- Valueの紹介 -->
      <div class="uk-container" style="margin-top: 2em;">
        <h2 class="uk-heading-bullet">Valueとは？</h2>
        <p>
          　Valueは、各大学内でのコミュニティで使えるフリマアプリです。<br>
        </p>

        <h2 class="uk-heading-line uk-text-center"><span style="color: blue;">Valueを使うメリット</span></h2>
        <div style="margin-top: 4em;">
          <h3 class="uk-heading-bullet">簡単出品＆大学内で手渡し!</h3>
          <p>
            　出品方法は, 写真を撮って値段を設定し, 商品の説明を書くだけ！また基本的に大学構内で手渡しにより取引をするので,
            商品を綺麗に放送して郵便局に持っていくという手間が省けます。
          </p>
        </div>

        <div style="margin-top: 4em;">
          <h3 class="uk-heading-bullet">モノ以外も売買できる！</h3>
          <p>
            　Valueは取引に「モノ」以外に「価値」を売買できます。例えば, 「1時間部屋の掃除をしてくれたら1500円」, 
            「手料理を振舞ってくれたら2000円」 , 「500円で勉強会に参加してみませんか？」といった, 価値の売買も行えます。
          </p>
        </div>

        <div style="margin-top: 4em;">
          <h3 class="uk-heading-bullet">クレジットカードは必要なし！</h3>
          <p>
            　基本的に報酬は現金により行われるので, クレジットカードを新規作成したりする必要はありません。 
            またキャッシュレスによる取引が不安という方にも安心して取引していただけます。
          </p>
        </div>

        <div style="margin-top: 4em;">
          <h3 class="uk-heading-bullet">手数料はなんと無料！</h3>
          <p>
            　他のフリマアプリでは必ず手数料がかかってしまいます。ですがFMUは, なんと手数料が「かかりません」！これはFMUの最大の魅力です。
          </p>
        </div>
      </div>

      <!-- Valueで、繋がろう。 -->
      <div class="uk-container" style="margin-top: 4em;">
        <h2 class="uk-heading-line uk-text-center"><span style="color: blue;">Valueで、繋がろう。</span></h2>
        <div uk-margin style="text-align: center;">
          <p>下のボタンから簡単登録！</p>
          <button class="uk-button uk-button-default">新規登録</button>
          <!-- <button class="uk-button uk-button-primary">ログイン</button> -->
        </div>

        <div uk-margin style="text-align: center; margin-top: 2em;">
          <p>すでに登録している人はログインを！</p>
          <button class="uk-button uk-button-primary">ログイン</button>
        </div>
      </div>

      <!-- footer -->
      <footer style="margin-top: 2em;">
        <div class="uk-container" style="background: rgb(66, 61, 61); color: white; height: 12em;">
          <p style="font-size: 24px; margin-top: 1em;">Value</p>
          <a style="margin-top: 1em; color: white;">サイトの製作者情報</a>
        </div>
      </footer>

  </body>
</html>