<p><%= @buyer.name %>様、</p>

<p>
貴方は、<%= @seller.name %>様の商品「<%= @micropost.title %>」を購入されました。<br>
<%= link_to "こちらのリンク", root_url %>から(もしくは以下のURLから)ログインし、メッセージのやり取りをして取引日時・取引場所を決定しましょう。<br>
<%= root_url %>
</p>

<p>
Valueは大学内価値売買サービスです。<br>
要らなくなった教科書を売ったり、一人暮らしの自宅の掃除を依頼したりすることができます。<br>
Valueを通じて価値を売買し、日々の生活をもっと便利にしましょう！<br><br><br>
</p>

<p>
Value(<%= root_url %>)<br>
お問い合わせは以下のメールアドレスへ<br>
tomonori4565@icloud.com
</p>