<div class="uk-container">
  <aside>
    <section class="user_info" style="margin: 3em 0;">
      <h3 style="text-align: center;">
        <%= @user.name %>
      </h3>
      
      <div style="display: flex; text-align: center;" uk-grid>
        <div style="flex:1;"><%= image_tag('good.jpg', style: "width: 33%;") %></div>
        <div style="flex:1;"><%= image_tag('normal.jpg', style: "width: 33%;") %></div>
        <div style="flex:1;"><%= image_tag('bad.jpg', style: "width: 33%;") %></div>
      </div>
      <div style="display: flex; text-align: center; margin-top: 10px;" uk-grid>
        <div style="flex:1;"><%= Evaluation.where(to_id: current_user.id, value: 1).count %></div>
        <div style="flex:1;"><%= Evaluation.where(to_id: current_user.id, value: 2).count %></div>
        <div style="flex:1;"><%= Evaluation.where(to_id: current_user.id, value: 3).count %></div>
      </div>
    </section>
  </aside>

  <div class="uk-margin" style="width: 80%; margin: 0 auto;">
    <p>一言をここに表示させます。一言をここに表示させます。一言をここに表示させます。一言をここに表示させます。</p>
  </div>

  <div class="uk-text-center" uk-grid>
    <h3 class="uk-heading-bullet">現在出品中のアイテム(<%= @user.microposts.where(purchased: false).count %>)</h3>
    <% if @user.microposts.where(purchased: false).any? && @user.microposts.where(purchased: false).count > 0 %>
      <%= render @microposts %>
    <% else %>
      <p>まだ出品がありません。</p>
    <% end %>
  </div>

  <ul class="uk-pagination">
    <% if @now_page > 1%>
      <li><a href="/users/<%= @user.id %>?page=<%= @now_page-1 %>"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a></li>
    <% end %>

    <% if @now_page < @max_page %>
      <li class="uk-margin-auto-left"><a href="/users/<%= @user.id %>?page=<%= @now_page+1 %>">Next <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
    <% end %>
  </ul>
</div>