<div class="uk-container">
  <% if @rooms.empty? %>
    <p>購入中の商品はありません。</p>
  <% else %>
    <ul style="padding: 0;">
      <% @rooms.each do |room| %>
        <li style="list-style: none;" class="uk-margin">
          <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <h3 class="uk-card-title"><%= room.micropost.title %></h3>
            <div>
              <p uk-margin>
                <button class="uk-button uk-button-default" id="micropost-<%= room.micropost.id %>" uk-toggle="target: #modal-micropost-<%= room.micropost.id %>">
                  商品情報
                </button>
                <%= link_to "メッセージ", room, class: "uk-button uk-button-primary" %>
              </p>
            </div>
          </div>
        </li>

        <!-- This is the modal -->
        <div id="modal-micropost-<%= room.micropost.id %>" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title"><%= room.micropost.title %></h2>
            <% if room.micropost.picture? %>
              <%= image_tag room.micropost.picture.url, class: "uk-img" %>
            <% else %>
              <%= image_tag 'sample_item.jpg', class: "uk-img" %>
            <% end %>
            <p><%= room.micropost.content %></p>
            <p><%= room.micropost.price %></p>
            <p><%= link_to room.micropost.user.name, room.micropost.user %>の出品(<span style="font-size: 14px;"><%= room.micropost.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></span>)</p>
            <button class="uk-button uk-button-default uk-modal-close" type="button">閉じる</button>
          </div>
        </div>
      <% end %>
    </ul>
  <% end %>
</div>