<div class="uk-width-1-3" id="micropost-<%= micropost.id %>" uk-toggle="target: #modal-micropost-<%= micropost.id %>">
  <div class="uk-card uk-card-default uk-card-body" style="padding: 0 !important;">
    <% if micropost.picture? %>
      <%= image_tag micropost.picture.url, class: "uk-img", style: 'height: 100px !important;' %>
    <% else %>
      <%= image_tag 'sample_item.jpg', class: "uk-img" %>
    <% end %>
    <div>
      <span style="font-size: 12px;"><%= micropost.title %></span><br>
      <span style="font-size: 12px;"><%= micropost.price %></span>
    </div>
  </div>
</div>

<!-- This is the modal -->
<div id="modal-micropost-<%= micropost.id %>" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title"><%= micropost.title %></h2>
    <% if micropost.picture? %>
      <%= image_tag micropost.picture.url, class: "uk-img" %>
    <% else %>
      <%= image_tag 'sample_item.jpg', class: "uk-img" %>
    <% end %>
    <p><%= micropost.content %></p>
    <p><%= micropost.price %></p>
    <% if current_user.id == micropost.user.id %>
      <p class="uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close uk-button-small" type="button">閉じる</button>
        <%= link_to "編集する", edit_micropost_path(micropost), class: "uk-button uk-button-primary uk-button-small" %>
        <%= link_to "削除する", micropost_path(micropost), method: :delete, data: {confirm: "削除します。よろしいですか？"}, class: "uk-button uk-button-danger uk-button-small" %>
      </p>
    <% else %>
      <p class="uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">閉じる</button>
        <button class="uk-button uk-button-primary" type="button">購入する</button>
      </p>
    <% end %>
  </div>
</div>