<div class="uk-container" style="margin-top: 3em;">
  <h2 class="uk-heading-bullet">最近出品されたアイテム</h2>

  <div class="uk-flex uk-flex-center" style="margin-top: 1.0em;">
    <div style="padding:0.1em; line-height: 1.0;">
      <%= image_tag 'sample_item.jpg', size: '100x200', class: "uk-img" %>
      <div>
        <span style="font-size: 12px;">ラムネ</span><br>
        <span style="font-size: 12px;">¥160</span>
      </div>
    </div>
    <div style="padding:0.1em; line-height: 1.0;">
      <%= image_tag 'sample_item.jpg', size: '100x200', class: "uk-img" %>
      <div>
        <span style="font-size: 12px;">ラムネ</span><br>
        <span style="font-size: 12px;">¥160</span>
      </div>
    </div>
    <div style="padding:0.1em; line-height: 1.0;">
      <%= image_tag 'sample_item.jpg', size: '100x200', class: "uk-img" %>
      <div>
        <span style="font-size: 12px;">ラムネ</span><br>
        <span style="font-size: 12px;">¥160</span>
      </div>
    </div>
  </div>
  <div class="uk-flex uk-flex-center" style="margin-top: 1.0em;">
    <div style="padding:0.1em; line-height: 1.0;">
      <%= image_tag 'sample_item.jpg', size: '100x200', class: "uk-img" %>
      <div>
        <span style="font-size: 12px;">ラムネ</span><br>
        <span style="font-size: 12px;">¥160</span>
      </div>
    </div>
    <div style="padding:0.1em; line-height: 1.0;">
      <%= image_tag 'sample_item.jpg', size: '100x200', class: "uk-img" %>
      <div>
        <span style="font-size: 12px;">ラムネ</span><br>
        <span style="font-size: 12px;">¥160</span>
      </div>
    </div>
    <div style="padding:0.1em; line-height: 1.0;">
      <%= image_tag 'sample_item.jpg', size: '100x200', class: "uk-img" %>
      <div>
        <span style="font-size: 12px;">ラムネ</span><br>
        <span style="font-size: 12px;">¥160</span>
      </div>
    </div>
  </div>
  <div class="uk-flex uk-flex-center" style="margin-top: 1.0em;">
    <div style="padding:0.1em; line-height: 1.0;">
      <%= image_tag 'sample_item.jpg', size: '100x200', class: "uk-img" %>
      <div>
        <span style="font-size: 12px;">ラムネ</span><br>
        <span style="font-size: 12px;">¥160</span>
      </div>
    </div>
    <div style="padding:0.1em; line-height: 1.0;">
      <%= image_tag 'sample_item.jpg', size: '100x200', class: "uk-img" %>
      <div>
        <span style="font-size: 12px;">ラムネ</span><br>
        <span style="font-size: 12px;">¥160</span>
      </div>
    </div>
    
  </div>
</div>